In [1]:
import sys
print(sys.executable)

/Library/Frameworks/Python.framework/Versions/3.12/bin/python3.12

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:ABCD@localhost:5432/northwind

In [6]:
%sql ALTER TABLE employees DROP COLUMN photo;

 * postgresql://postgres:***@localhost:5432/northwind
Done.

[]

In [7]:
%%sql
SELECT * FROM customers LIMIT 5;

 * postgresql://postgres:***@localhost:5432/northwind
5 rows affected.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

In [4]:
%%sql --only use this line if running in Jupyter Notebook
SELECT table_name AS name,
       table_type AS type
  FROM information_schema.tables
 WHERE table_schema = 'public' AND table_type IN ('BASE TABLE', 'VIEW');

 * postgresql://postgres:***@localhost:5432/northwind
14 rows affected.

[('territories', 'BASE TABLE'),
 ('order_details', 'BASE TABLE'),
 ('employee_territories', 'BASE TABLE'),
 ('us_states', 'BASE TABLE'),
 ('customers', 'BASE TABLE'),
 ('orders', 'BASE TABLE'),
 ('employees', 'BASE TABLE'),
 ('shippers', 'BASE TABLE'),
 ('products', 'BASE TABLE'),
 ('categories', 'BASE TABLE'),
 ('suppliers', 'BASE TABLE'),
 ('region', 'BASE TABLE'),
 ('customer_demographics', 'BASE TABLE'),
 ('customer_customer_demo', 'BASE TABLE')]

In [17]:
%%sql
WITH total_sale_employee AS (
  SELECT 
    e.employee_id,
    e.first_name,
    e.last_name,
    SUM(od.unit_price * od.quantity) AS total_sales,
    RANK() OVER (ORDER BY SUM(od.unit_price * od.quantity) DESC) AS sales_rank
  FROM 
    employees AS e
  JOIN 
    orders AS o
      ON o.employee_id = e.employee_id
  JOIN 
    order_details AS od
      ON od.order_id = o.order_id
  GROUP BY 
    e.employee_id, e.first_name, e.last_name
)
SELECT *
FROM total_sale_employee;

 * postgresql://postgres:***@localhost:5432/northwind
9 rows affected.

[(4, 'Margaret', 'Peacock', 250187.4502530098, 1),
 (3, 'Janet', 'Leverling', 213051.2994799614, 2),
 (1, 'Nancy', 'Davolio', 202143.7103085518, 3),
 (2, 'Andrew', 'Fuller', 177749.2604765892, 4),
 (7, 'Robert', 'King', 141295.99010276794, 5),
 (8, 'Laura', 'Callahan', 133301.0300655365, 6),
 (9, 'Anne', 'Dodsworth', 82963.9998178482, 7),
 (6, 'Michael', 'Suyama', 78198.09993362427, 8),
 (5, 'Steven', 'Buchanan', 75567.75000333786, 9)]

In [18]:
%%sql
SELECT 
    DATE_TRUNC('month', o.order_date) AS month,
    SUM(od.unit_price * od.quantity) AS monthly_sales,
    SUM(SUM(od.unit_price * od.quantity)) OVER (ORDER BY DATE_TRUNC('month', o.order_date)) AS running_total
FROM 
    orders AS o
JOIN 
    order_details AS od
    ON o.order_id = od.order_id
GROUP BY 
    DATE_TRUNC('month', o.order_date)
ORDER BY 
    month;

 * postgresql://postgres:***@localhost:5432/northwind
23 rows affected.

[(datetime.datetime(1996, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 30192.100194454193, 30192.100194454193),
 (datetime.datetime(1996, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 26609.400082588196, 56801.50027704239),
 (datetime.datetime(1996, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 27636.00014448166, 84437.50042152405),
 (datetime.datetime(1996, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 41203.60002660751, 125641.10044813156),
 (datetime.datetime(1996, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 49704.00030088425, 175345.1007490158),
 (datetime.datetime(1996, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 50953.40060091019, 226298.501349926),
 (datetime.datetime(1997, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 66692.80026483536, 292991.30161476135),
 (datetime.datetime(1997, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 41207.20001029968, 334198.50162506104),
 (datetime.datetime(1997, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 39979.90013170242, 374178.40175676346),
 (datetime.datetime(1997, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 55699.38995170593, 429877.7917084694),
 (datetime.datetime(1997, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 56823.69989681244, 486701.49160528183),
 (datetime.datetime(1997, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 39087.99988079071, 525789.4914860725),
 (datetime.datetime(1997, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 55464.930070877075, 581254.4215569496),
 (datetime.datetime(1997, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 49981.68972206116, 631236.1112790108),
 (datetime.datetime(1997, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 59733.019949913025, 690969.1312289238),
 (datetime.datetime(1997, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 70328.49981021881, 761297.6310391426),
 (datetime.datetime(1997, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 45913.3597946167, 807210.9908337593),
 (datetime.datetime(1997, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 77476.2600030899, 884687.2508368492),
 (datetime.datetime(1998, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 100854.7198047638, 985541.970641613),
 (datetime.datetime(1998, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 104561.94993686676, 1090103.9205784798),
 (datetime.datetime(1998, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 109825.45005893707, 1199929.3706374168),
 (datetime.datetime(1998, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 134630.55983829498, 1334559.9304757118),
 (datetime.datetime(1998, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 19898.659965515137, 1354458.590441227)]

In [19]:
%%sql
WITH monthly_sales AS (
    SELECT 
        DATE_TRUNC('month', o.order_date) AS month,
        SUM(od.unit_price * od.quantity) AS total_sales
    FROM 
        orders AS o
    JOIN 
        order_details AS od
        ON o.order_id = od.order_id
    GROUP BY 
        DATE_TRUNC('month', o.order_date)
),

sales_with_lag AS (
    SELECT 
        month,
        total_sales,
        LAG(total_sales) OVER (ORDER BY month) AS prev_month_sales
    FROM 
        monthly_sales
)

SELECT 
    month,
    total_sales,
    prev_month_sales,
    ROUND((
        (total_sales - prev_month_sales) / prev_month_sales)::numeric * 100,
        2
    ) AS month_over_month_growth
FROM 
    sales_with_lag
ORDER BY 
    month;

 * postgresql://postgres:***@localhost:5432/northwind
23 rows affected.

[(datetime.datetime(1996, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 30192.100194454193, None, None),
 (datetime.datetime(1996, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 26609.400082588196, 30192.100194454193, Decimal('-11.87')),
 (datetime.datetime(1996, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 27636.00014448166, 26609.400082588196, Decimal('3.86')),
 (datetime.datetime(1996, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 41203.60002660751, 27636.00014448166, Decimal('49.09')),
 (datetime.datetime(1996, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 49704.00030088425, 41203.60002660751, Decimal('20.63')),
 (datetime.datetime(1996, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 50953.40060091019, 49704.00030088425, Decimal('2.51')),
 (datetime.datetime(1997, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 66692.80026483536, 50953.40060091019, Decimal('30.89')),
 (datetime.datetime(1997, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 41207.20001029968, 66692.80026483536, Decimal('-38.21')),
 (datetime.datetime(1997, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 39979.90013170242, 41207.20001029968, Decimal('-2.98')),
 (datetime.datetime(1997, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 55699.38995170593, 39979.90013170242, Decimal('39.32')),
 (datetime.datetime(1997, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 56823.69989681244, 55699.38995170593, Decimal('2.02')),
 (datetime.datetime(1997, 6, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 39087.99988079071, 56823.69989681244, Decimal('-31.21')),
 (datetime.datetime(1997, 7, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 55464.930070877075, 39087.99988079071, Decimal('41.90')),
 (datetime.datetime(1997, 8, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 49981.68972206116, 55464.930070877075, Decimal('-9.89')),
 (datetime.datetime(1997, 9, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 59733.019949913025, 49981.68972206116, Decimal('19.51')),
 (datetime.datetime(1997, 10, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 70328.49981021881, 59733.019949913025, Decimal('17.74')),
 (datetime.datetime(1997, 11, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 45913.3597946167, 70328.49981021881, Decimal('-34.72')),
 (datetime.datetime(1997, 12, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 77476.2600030899, 45913.3597946167, Decimal('68.74')),
 (datetime.datetime(1998, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 100854.7198047638, 77476.2600030899, Decimal('30.17')),
 (datetime.datetime(1998, 2, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 104561.94993686676, 100854.7198047638, Decimal('3.68')),
 (datetime.datetime(1998, 3, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 109825.45005893707, 104561.94993686676, Decimal('5.03')),
 (datetime.datetime(1998, 4, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400))), 134630.55983829498, 109825.45005893707, Decimal('22.59')),
 (datetime.datetime(1998, 5, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 19898.659965515137, 134630.55983829498, Decimal('-85.22'))]

In [20]:

%%sql
WITH customer_total AS (
    SELECT  
        c.customer_id,
        SUM(od.quantity * od.unit_price) AS total_purchase
    FROM  
        customers AS c
    JOIN  
        orders AS o
        ON c.customer_id = o.customer_id
    JOIN  
        order_details AS od
        ON od.order_id = o.order_id
    GROUP BY  
        c.customer_id
),
avg_total AS (
    SELECT 
        AVG(total_purchase) AS avg_purchase
    FROM 
        customer_total
)
SELECT 
    ct.customer_id,
    ct.total_purchase,
    CASE 
        WHEN ct.total_purchase > at.avg_purchase THEN 'Above Average'
        WHEN ct.total_purchase = at.avg_purchase THEN 'Average'
        ELSE 'Below Average'
    END AS category
FROM 
    customer_total AS ct
CROSS JOIN 
    avg_total AS at
ORDER BY 
    ct.total_purchase DESC;

 * postgresql://postgres:***@localhost:5432/northwind
89 rows affected.

[('QUICK', 117483.390147686, 'Above Average'),
 ('SAVEA', 115673.38964271545, 'Above Average'),
 ('ERNSH', 113236.67978191376, 'Above Average'),
 ('HUNGO', 57317.39016246796, 'Above Average'),
 ('RATTC', 52245.90034675598, 'Above Average'),
 ('HANAR', 34101.149973869324, 'Above Average'),
 ('FOLKO', 32555.55001926422, 'Above Average'),
 ('MEREP', 32203.900234222412, 'Above Average'),
 ('KOENE', 31745.749893188477, 'Above Average'),
 ('QUEEN', 30226.10017967224, 'Above Average'),
 ('WHITC', 29073.449927330017, 'Above Average'),
 ('FRANK', 28722.70993900299, 'Above Average'),
 ('BERGS', 26968.149930477142, 'Above Average'),
 ('PICCO', 26259.95008468628, 'Above Average'),
 ('SUPRD', 24704.400303840637, 'Above Average'),
 ('BONAP', 23850.949985980988, 'Above Average'),
 ('HILAA', 23611.579944610596, 'Above Average'),
 ('BOTTM', 22607.699960708618, 'Above Average'),
 ('LEHMS', 21282.019976615906, 'Above Average'),
 ('RICSU', 20033.199929237366, 'Above Average'),
 ('GREAL', 19711.12999534607, 'Above Average'),
 ('BLONP', 19088.000093460083, 'Above Average'),
 ('SIMOB', 18138.45011329651, 'Above Average'),
 ('LINOD', 17889.54993247986, 'Above Average'),
 ('LILAS', 17825.059957504272, 'Above Average'),
 ('SEVES', 17172.050069332123, 'Above Average'),
 ('VAFFE', 16643.79989385605, 'Above Average'),
 ('WARTH', 16617.10011959076, 'Above Average'),
 ('OLDWO', 16325.15002822876, 'Above Average'),
 ('EASTC', 15033.65993309021, 'Below Average'),
 ('AROUT', 13806.49998140335, 'Below Average'),
 ('OTTIK', 13157.499975204468, 'Below Average'),
 ('RICAR', 12924.400025367737, 'Below Average'),
 ('CHOPS', 12886.300068378448, 'Below Average'),
 ('SPLIR', 12489.700090408325, 'Below Average'),
 ('GODOS', 11830.099954605103, 'Below Average'),
 ('FOLIG', 11666.900089263916, 'Below Average'),
 ('TORTU', 10812.150033950806, 'Below Average'),
 ('WANDK', 10653.849972724915, 'Below Average'),
 ('MAISD', 10430.580017089844, 'Below Average'),
 ('LAMAI', 10272.350024223328, 'Below Average'),
 ('VICTE', 9937.099892616272, 'Below Average'),
 ('GOURL', 8702.229988098145, 'Below Average'),
 ('MAGAA', 7603.849960327148, 'Below Average'),
 ('REGGC', 7555.599968910217, 'Below Average'),
 ('ANTON', 7515.349945068359, 'Below Average'),
 ('TRADH', 7310.620037078857, 'Below Average'),
 ('FURIB', 7151.550024986267, 'Below Average'),
 ('QUEDE', 6973.629943847656, 'Below Average'),
 ('WELLI', 6480.69997215271, 'Below Average'),
 ('ISLAT', 6146.299984931946, 'Below Average'),
 ('BSBEV', 6089.899990081787, 'Below Average'),
 ('SANTG', 5735.1500153541565, 'Below Average'),
 ('PRINI', 5317.100019454956, 'Below Average'),
 ('BOLID', 5297.800024032593, 'Below Average'),
 ('MORGK', 5042.200035095215, 'Below Average'),
 ('TOMSP', 4954.000060558319, 'Below Average'),
 ('ALFKI', 4596.200004577637, 'Below Average'),
 ('FAMIA', 4438.899929523468, 'Below Average'),
 ('LONEP', 4258.599994659424, 'Below Average'),
 ('PERIC', 4242.200015068054, 'Below Average'),
 ('COMMI', 3810.749990463257, 'Below Average'),
 ('DRACD', 3763.209972381592, 'Below Average'),
 ('WOLZA', 3531.949995994568, 'Below Average'),
 ('LETSS', 3490.0199813842773, 'Below Average'),
 ('OCEAN', 3460.200008392334, 'Below Average'),
 ('THEBI', 3361.0000038146973, 'Below Average'),
 ('BLAUS', 3239.799991607666, 'Below Average'),
 ('FRANR', 3172.1600036621094, 'Below Average'),
 ('WILMK', 3161.349983215332, 'Below Average'),
 ('HUNGC', 3063.2000246047974, 'Below Average'),
 ('RANCH', 2844.099998474121, 'Below Average'),
 ('SPECD', 2423.3500022888184, 'Below Average'),
 ('LACOR', 1992.0500106811523, 'Below Average'),
 ('THECR', 1947.2399940490723, 'Below Average'),
 ('CACTU', 1814.7999839782715, 'Below Average'),
 ('CONSH', 1719.099988937378, 'Below Average'),
 ('DUMON', 1615.8999881744385, 'Below Average'),
 ('TRAIH', 1571.1999893188477, 'Below Average'),
 ('FRANS', 1545.6999979019165, 'Below Average'),
 ('GROSR', 1488.6999969482422, 'Below Average'),
 ('VINET', 1480.0000019073486, 'Below Average'),
 ('ROMEY', 1467.2900185585022, 'Below Average'),
 ('ANATR', 1402.949990272522, 'Below Average'),
 ('GALED', 836.6999950408936, 'Below Average'),
 ('NORTS', 649.0, 'Below Average'),
 ('LAUGB', 522.4999923706055, 'Below Average'),
 ('LAZYK', 356.99999809265137, 'Below Average'),
 ('CENTC', 100.79999923706055, 'Below Average')]

In [23]:
%%sql
WITH category_sales AS(SELECT ca.category_id,ca.category_name,SUM(od.quantity*od.unit_price) AS total_sales
  FROM  order_details AS od
  JOIN  products AS p
    ON  od.product_id=p.product_id
  JOIN  categories AS ca
    ON  ca.category_id=p.category_id
 GROUP  BY ca.category_id,ca.category_name)

SELECT
  category_name,
  total_sales,
  ROUND((100*total_sales / SUM(total_sales) OVER ())::numeric, 2) AS percent_of_total
FROM category_sales
ORDER BY percent_of_total DESC;

 * postgresql://postgres:***@localhost:5432/northwind
8 rows affected.

[('Beverages', 286526.95009565353, Decimal('21.15')),
 ('Dairy Products', 251330.4997959137, Decimal('18.56')),
 ('Meat/Poultry', 178188.80098581314, Decimal('13.16')),
 ('Confections', 177099.10060071945, Decimal('13.08')),
 ('Seafood', 141623.08918237686, Decimal('10.46')),
 ('Condiments', 113694.74968147278, Decimal('8.39')),
 ('Produce', 105268.6001739502, Decimal('7.77')),
 ('Grains/Cereals', 100726.7999253273, Decimal('7.44'))]

In [25]:
%%sql
WITH product_sales AS (
  SELECT
    p.product_id,
    p.product_name,
    c.category_name,
    SUM(od.unit_price * od.quantity) AS total_sales
  FROM products AS p
  JOIN categories AS c
    ON p.category_id = c.category_id
  JOIN order_details AS od
    ON p.product_id = od.product_id
  GROUP BY p.product_id, p.product_name, c.category_name
),
ranked_products AS (
  SELECT
    category_name,
    product_name,
    total_sales,
    ROW_NUMBER() OVER (PARTITION BY category_name ORDER BY total_sales DESC) AS row_num
  FROM product_sales
)
SELECT
  category_name,
  product_name,
  total_sales
FROM ranked_products
WHERE row_num > 3
ORDER BY category_name, total_sales DESC;

 * postgresql://postgres:***@localhost:5432/northwind
53 rows affected.

[('Beverages', 'Lakkalikööri', 16793.999908447266),
 ('Beverages', 'Steeleye Stout', 14536.799856185913),
 ('Beverages', 'Chai', 14277.599933624268),
 ('Beverages', 'Chartreuse verte', 13150.799880981445),
 ('Beverages', 'Outback Lager', 11472.0),
 ('Beverages', 'Rhönbräu Klosterbier', 8650.549962997437),
 ('Beverages', 'Sasquatch Ale', 6677.999972343445),
 ('Beverages', 'Guaraná Fantástica', 4782.599970340729),
 ('Beverages', 'Laughing Lumberjack Lager', 2561.9999990463257),
 ('Condiments', 'Northwoods Cranberry Sauce', 13760.0),
 ('Condiments', 'Gula Malacca', 10524.200233459473),
 ('Condiments', 'Original Frankfurter grüne Soße', 9684.999912261963),
 ('Condiments', "Chef Anton's Cajun Seasoning", 9424.800046920776),
 ('Condiments', "Grandma's Boysenberry Spread", 7345.0),
 ('Condiments', "Chef Anton's Gumbo Mix", 5801.150064468384),
 ('Condiments', 'Louisiana Hot Spiced Okra', 3519.0000610351562),
 ('Condiments', 'Aniseed Syrup', 3080.0),
 ('Condiments', 'Genen Shouyu', 1813.4999904632568),
 ('Confections', 'Pavlova', 18748.050413131714),
 ('Confections', 'Schoggi Schokolade', 15231.500282287598),
 ('Confections', "Sir Rodney's Scones", 9636.0),
 ('Confections', 'Maxilaku', 9500.0),
 ('Confections', 'Scottish Longbreads', 9362.5),
 ('Confections', 'Teatime Chocolate Biscuits', 6159.499960899353),
 ('Confections', 'Zaanse koeken', 4358.5999875068665),
 ('Confections', 'NuNuCa Nuß-Nougat-Creme', 4051.5999727249146),
 ('Confections', 'Valkoinen suklaa', 3510.0),
 ('Confections', 'Chocolade', 1542.7499837875366),
 ('Dairy Products', 'Gudbrandsdalsost', 24307.199851989746),
 ('Dairy Products', 'Flotemysost', 20876.500328063965),
 ('Dairy Products', 'Gorgonzola Telino', 16172.5),
 ('Dairy Products', 'Queso Cabrales', 13901.99984741211),
 ('Dairy Products', 'Queso Manchego La Pastora', 12866.799989700317),
 ('Dairy Products', 'Mascarpone Fabioli', 9171.200019836426),
 ('Dairy Products', 'Geitost', 1713.5),
 ('Grains/Cereals', 'Ravioli Angelo', 7807.800064086914),
 ('Grains/Cereals', "Gustaf's Knäckebröd", 7232.39998626709),
 ('Grains/Cereals', 'Tunnbröd', 4840.199959754944),
 ('Grains/Cereals', 'Filo Mix', 3383.799992084503),
 ('Meat/Poultry', 'Pâté chinois', 19512.000343322754),
 ('Meat/Poultry', 'Mishi Kobe Niku', 8826.999969482422),
 ('Meat/Poultry', 'Tourtière', 5120.999948978424),
 ('Produce', 'Tofu', 8630.400062561035),
 ('Produce', 'Longlife Tofu', 2566.0),
 ('Seafood', 'Nord-Ost Matjeshering', 14775.539909362793),
 ('Seafood', 'Inlagd Sill', 14542.599962234497),
 ('Seafood', "Jack's New England Clam Chowder", 9098.099661827087),
 ('Seafood', 'Escargots de Bourgogne', 6664.750059127808),
 ('Seafood', 'Spegesild', 6144.000068664551),
 ('Seafood', 'Konbu', 5234.400017738342),
 ('Seafood', 'Rogede sild', 4740.499995708466),
 ('Seafood', 'Röd Kaviar', 4200.0),
 ('Seafood', 'Gravad lax', 3047.1999702453613)]